.wrap {
    max-width: 1140px;
    margin: 50px auto;
}

.item {
    padding: 25px;
}

.slick-dots {
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
}

.slick-dots button {
    background: #643a6077;
    border: none;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 15px;
    outline: none;
    font-size: 0;
}

.slick-dots li[class="slick-active"] button {
    background: #46123f;
}

body {
    background-color: #f6cbf0;
}